@model UrlViewModel

<div class="d-flex justify-content-center align-items-center">
    <div class="card shadow-lg px-4 py-5 rounded" style="width: 42rem;">
        <div class="card-body text-center m-3">
            <h2 class="card-title mb-3">Paste the URL to be shortened</h2>

            <form asp-action="Index" method="post">
                <div class="input-group mb-3">
                    <input asp-for="OriginalUrl"
                           class="form-control"
                           placeholder="Enter the link here">
                    <button type="submit" class="btn btn-primary">
                        Shorten URL
                    </button>
                </div>
                <span class="text-danger" asp-validation-for="OriginalUrl"></span>
            </form>

            <p class="card-text text-muted text-left mt-2">
                ShortenedURL is a free tool to shorten URLs and generate short links. <br/>
                The URL shortener allows you to create a shortened link, making it easy to share.
            </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}